.container h2 {
    color: var(--text-dark);
    text-transform: capitalize;
    font-family: "dancing script", "cursive";
    font-style: italic;
    font-size: 40px;
    padding-bottom: 20px;
  }
  .container h3 {
    color: var(--text-dark);
    padding-bottom: 20px;
  }
  .container h5 {
    color: #540e0e;
    text-transform: capitalize;
    padding-bottom: 30px;
  }
  .container p {
    font-size: 17px;
  }
  