.home-body img {
    width: 600px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .home-body h2 {
    color: var(--text-dark);
    text-transform: capitalize;
    font-family: "dancing script", "cursive";
    font-style: italic;
    font-size: 40px;
  }
  .home-body {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .home {
    padding-left: 30px;
    text-align: center;
    padding-right: 30px;
  }
  @media (max-width: 768px) {
    .home-body img {
      height: 100%;
    }
    .home-body {
      display: flex;
      flex-wrap: wrap-reverse;
      padding-bottom: 20px;
    }
  }
  